# Terraform ignore rules
**/.terraform/*
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfplan
.terraformrc
terraform.rc
.terraform.lock.hcl

# Ignore override files used for local configuration
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore any .env files
.env*

# IDE and editor directories and files
.idea/
*.swp
*.swo
*.swn
*~

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Ignore potential private key files
*.pem
*.key

# Ignore the node_modules folder
/node_modules/

# Kubernetes config files that might contain sensitive information
*.kubeconfig

# Ignore directories created by package managers and compiled binaries
bin/
obj/
